mixin editProductForm(product = {}, store = {})
  form(action=`/stores/${store._id}/products/${product._id}/edit` method="POST" class="card" enctype="multipart/form-data")
    label(for="name") Name
    input(type="text" name="name" value=product.name)
    label(for="description") Description
    textarea(name="description")= product.description
    label(for="link") External Link
    input(type="url" name="link" value=product.link)
    //- Image Upload
    label(for="photo") Photo
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if product.photo
        img(src=`https://s3.amazonaws.com/cbdoilmaps-public-images/products/${product.photo}`, alt=product.name width=200)

    input(type="submit" value="Save →" class="button")
