mixin storeCard(store = {})
  a(href=`/store/${store.slug}`)
    .store
      .store__hero
        if store.photo !== undefined
          if store.photoAlt
            img(src=`https://s3.amazonaws.com/cbdoilmaps-public-images/stores/${store.photo}` alt=store.photoAlt)
          else
            img(src=`https://s3.amazonaws.com/cbdoilmaps-public-images/stores/${store.photo}` alt=`${store.name} Logo image`)
        else
          img(src=h.staticMap(store.location.coordinates) alt=`${store.name} Google Maps Location`)

      .store__details
        h2.storeCardTitle
          a(href=`/store/${store.slug}`) #{store.name}
        p= store.location.address
        //- p= store.website